
<div class="datagrid_container" id="{$id}">
<form id="frm-example" action="/nosuchpage" method="POST">

<div n:if="count($gridActions)" data-responsiveBtnGroup class="btn-group-animate" id="gridOperationsLine">
	<div class="btn-group-lines" data-responsiveBtnGroupLinks>
		<a n:foreach="$gridActions as $ga" href="{$ga->getLink()}" class="btn btn-default gridOperation {$ga->getCssClass()}" n:if="true" {if $ga->getConfirmQuestion()}data-confirm="{$ga->getConfirmQuestion()}"{/if}><span class="glyphicon glyphicon-{$ga->getIcon()}"></span> &nbsp;{$ga->getTitle()}</a>
	</div>
</div>


  <table class="datagrid dg_{$id}"  class="display select">
    <thead>
      <tr class="columns">
      <th n:if="$showRowCheckboxes"><input name="select_all" value="1" type="checkbox"></th>
        {foreach $columns as $column}
            <th class="col-{$column->getName()}">

              {$column->getLabel()}
              {if $column->getTooltip()!=NULL && $column->getTooltip()!=""}
        <div class="tooltip-holder"><span title="{$column->getTooltip()}" rel="tooltip" class="ico-system-help tip"></span></div>
        {/if}
      </th>
    {/foreach}
    {if count($rowActions)>0}
        <th class="col-actions">
        </th>
    {/if}
    </tr>
      <tr class="filters" n:if="$showHeaderFilters && $filterable">
      <td n:if="$showRowCheckboxes"></td>
        {foreach $columns as $column}
                    <th class="col-filter-{$column->getName()}">
                    {if $column->isFilterable() }
                        {if $column->getJsMapper()==NULL }
                            <input type="text" name="{$column->getName()}" placeholder="Hledat" />
                        {else}
                            <select name="{$column->getName()}">
                            <option value=""></option>
                            {var $inserted=[]}
                            <option n:foreach="$column->getJsMapper() as $key => $value" n:if="isset($inserted[$value])==FALSE" value="{$key}">{$value}{? $inserted[$value]=TRUE}</option>
                            </select>
                        {/if}
                    {/if}
                    </th>
            {/foreach}
            {if count($rowActions)>0}
                <th class="col-actions">
                </th>
            {/if}
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
      <tr class="filters" n:if="$showFooterFilters && $filterable">
      <th></th>
        {foreach $columns as $column}
            <th class="col-filter-{$column->getName()}">
            {if $column->isFilterable() }
                {if $column->getJsMapper()==NULL }
                    <input type="text" name="{$column->getName()}" placeholder="Hledat" />
                {else}
                    <select name="{$column->getName()}">
                    <option value=""></option>
                    {var $inserted=[]}
                    <option n:foreach="$column->getJsMapper() as $key => $value" n:if="isset($inserted[$value])==FALSE" value="{$key}">{$value}{? $inserted[$value]=TRUE}</option>
                    </select>
                {/if}
            {/if}
            </th>
    {/foreach}
    {if count($rowActions)>0}
        <th class="col-actions">
        </th>
    {/if}
    </tr>
    </tfoot>
  </table>

  </form>
</div>